<!-- footer -->


<style>
    @media only screen and (max-width: 767px){
        .nav{
            display: inline-block;
        }
    }
</style>
<footer class="site-footer full-width">
    <div class="container">
        <div class="hr hr--top">
            <a href="" id="cta-footer-PackDataLogo">
                <img src="/assets/img/logo01.png" alt="Pack Data Logo">
                <span class="visuallyhidden">Home</span>
            </a>

            <li class="nav" style="    margin-top: -10px;">




                <div class="nav">
                    <!-- <span style="white-space: nowrap;" class="ui large header">合作伙伴</span> -->
                    <ul>
                        <li>
                            <a href="/features" id="cta-footer-features">城市合伙人</a>
                        </li>
                        <li>
                            <a href="/pricing" id="cta-footer-pricing">城市合伙人</a>
                        </li>
                        <li>
                            <a href="/docs" id="cta-footer-docs">城市合伙人</a>
                        </li>
                        <li>
                            <a href="/blogs" id="cta-footer-blog">城市合伙人</a>
                        </li>
                        <li>
                            <a href="/blogs" id="cta-footer-blog">城市合伙人</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/about" id="cta-footer-about">城市合伙人</a>
                        </li>
                        <li>
                            <a href="/careers" id="cta-footer-careers">城市合伙人</a>
                        </li>
                        <li>
                            <a href="/careers" id="cta-footer-careers">城市合伙人</a>
                        </li>
                        <li>
                            <a href="/press" id="cta-footer-press">城市合伙人</a>
                        </li>
                        <li>
                            <a href="/open-source" id="cta-footer-opensource">城市合伙人</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/" id="cta-footer-status">城市合伙人</a>
                        </li>
                        <li>
                            <a href="/" id="cta-footer-status">城市合伙人</a>
                        </li>
                        <li>
                            <a href="/support" id="cta-footer-support">城市合伙人</a>
                        </li>
                        <li>
                            <a href="/enterprise" id="cta-footer-enterprise">城市合伙人</a>
                        </li>
                        <li>
                            <a href="/education" id="cta-footer-education">城市合伙人</a>
                        </li>
                    </ul>
                </div>

                <ul class="ui-margin footer-links">
                    <li>
                        <img id="layer_5" src="/assets/img/layer_5.png" alt="">
                    </li>
                </ul>
                <ul class="ui-margin footer-links">
                    <li style="">
                        <div class="quote-qrs">
                            <!-- <h3>hakds</h3>
                        <h3>18319979q</h3> -->

                            <span style="white-space: nowrap;">全国服务热线</span>
                            <br>
                            <span style="white-space: nowrap;">400-123-4567 </span>
                            <img id="layer_10" src="/assets/img/layer_10.png" alt="">

                    </li>

                </ul>
            </li>
            </div>
            <div>
</footer>
<footer class="whatermrk footer__copyright">
    <div class="hr hr--top">
        <small>©2018 派客动力（北京）科技技术有限公司版权所有</small>
    </div>
</footer>
<!-- footer -->


<!-- responsive menu for mob -->



<nav id="menu" class="modal modal--menu" hidden="" tabindex="-1">
    <section class="modal-content" role="document">
        <a style="margin-top: 2.9997px;" href="#" class="button button--icon button--close" data-toggle="#menu">
            <svg aria-hidden="true" class="icon" width="24" height="24">
                <use xlink:href="#icon-close"></use>
            </svg>
            <span class="visuallyhidden">Back to main content</span>
        </a>

        <header>
            <h2 class="visuallyhidden">Menu</h2>
        </header>
        <ul class="hr hr--top">
            <li>
                <a href="/" id="cta-mainNav-home-mobile">首页</a>
            </li>
            <li>
                <a href="/companyProfile" id="cta-mainNav-features-mobile">公司简介</a>
            </li>
            <li>
                <a href="/PDataDesensitization" id="cta-mainNav-pricing-mobile">产品中心</a>
            </li>
            <li>
                <a href="/Solution" id="cta-mainNav-docs-mobile">解决方案</a>
            </li>
            <li>
                <a href="/successCase" id="cta-mainNav-blog-mobile">成功案例</a>
            </li>
            <li>
                <a href="/contactus" id="cta-mainNav-login-mobile">联系我们</a>
            </li>
        </ul>
    </section>
</nav>
<!-- responsive menu for mob -->

<!-- <script src="assets/Semantic-UI-CSS-master/semantic.min.js"></script> -->
</body>

</html>