


    <div class="container meddle-cont">
        <div class="ui basic segment">
            <h1 class="ui middle header header2">联系我们</h1>
            <div class="smalll">
                北京派客动力科技有限公司 
            </div>
            <div> 
                地址 : 北京市丰台区南四环西路188号丰台总部基地1区14号楼5楼 
            </div>
             <div> 总部电话 : 010-82838118 </div> 
             <div> 产品咨询 : 024-85507893</div>
        </div>
    </div>

<br><br>
