

<section class="section--home-benefits inverse" style="margin-top: -90px ">
    <div class="container meddle-cont ">
        <div class="demo-box">
            <div class="ui three column grid centered">
                <div class="three column stackable ui grid row">
                    <div class="column col-hov media">
                        <img src="assets/img/layer_7_0.png" alt="">
                        <h3>敏感数据发布方案</h3>
                        <p>数据脱敏解决方案建立在久经验证的技术基础啊数据脱敏 解决方案建立在久经验证的技术基础啊...</p>
                     <button class="button 
                     news">查看更多</button>
                    </div>
                    <div class="column col-hov media">
                        <img src="assets/img/layer_7_0.png" alt="">
                        <h3>敏感数据发布方案</h3>
                        <p>数据脱敏解决方案建立在久经验证的技术基础啊数据脱敏 解决方案建立在久经验证的技术基础啊...</p>
                     <button class="button 
                     news">查看更多</button>
                    </div>
                    <div class="column col-hov media">
                        <img src="assets/img/layer_12_1.png" alt="">
                        <h3>敏感数据发布方案</h3>
                        <p>数据脱敏解决方案建立在久经验证的技术基础啊数据脱敏 解决方案建立在久经验证的技术基础啊...</p>
                     <button class="button 
                     news">查看更多</button>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</section>


   