<style>
   
</style>


    <div class="container meddle-cont">
        <div class="ui  segment">
            <h4 class="ui huge header">数据脱敏</h4>
            <div id="layer_15_0">
                <img src="/assets/img/layer_15_0.png">
            </div>
            <h4 class="ui header center">敏感数据感知和覆盖</h4>
            <div id="layer_8">
                <img src="/assets/img/layer_8.png">
            </div>
            <p>在生产业务系统中，敏感数据无处不在，随着业务越来越复杂，业务系统后台数据库表规模越来越庞 大、结构越来越复杂，利用人工梳理敏感信息的方式已经不能满足日益复杂的要求，美创数据脱敏系 统利用各类敏感信息规则，通过自动扫描发现的方式（通过扫描数据字段，获取字段内容采样匹配敏
            感信息规则获取敏感信息）从而高效、方便、全面的获取敏感信息。</p>
            <h4 class="ui header center">保持数据特征、业务规则和数据关联性</h4>
            <p>在生产业务系统中，敏感数据无处不在，随着业务越来越复杂，业务系统后台数据库表规模越来越庞 大、结构越来越复杂，利用人工梳理敏感信息的方式已经不能满足日益复杂的要求，美创数据脱敏系 统利用各类敏感信息规则，通过自动扫描发现的方式（通过扫描数据字段，获取字段内容采样匹配敏
            感信息规则获取敏感信息）从而高效、方便、全面的获取敏感信息。</p>
            
            <p>数据脱敏前后必须保证数据特征的保持，例如身份证号码由十七位数字本体码和一位校验码组成，分 别为区域地址码（6位）、出生日期（8位）、顺序码（3位）和校验码（1位）。身份证号码脱敏规则 需要保证脱敏后保持身份证号码的特征信息。</p>
            <h4 class="ui header center">保持数据特征</h4>
            <p>数据脱敏前后必须保证数据特征的保持，例如身份证号码由十七位数字本体码和一位校验码组成，分 别为区域地址码（6位）、出生日期（8位）、顺序码（3位）和校验码（1位）。身份证号码脱敏规则 需要保证脱敏后保持身份证号码的特征信息。</p>
        </div>
    </div>

<br><br>
