


    <div class="container meddle-cont">
        <div class="ui  segment">
            <h4 class="ui huge header">三甲医院历史数据迁移</h4>
            <h4 class="ui header center">客户情况简介</h4>
            <p>某医院是杭州地区融医疗、教学、科研、预防和社会保健于一体的市属最大的综合性三级甲等医院，现 有一、二级临床医疗和医技科室50个，职工2378人，床位量500个。医院核心系统是IBM小机加ORACL E数据库的RAC架构。随着医院业务的发展、系统的逐年运行和数据的不断积累导致数据库越来越庞大，
            主机压力较大，医院各科室普遍反应系统响应缓慢，严重影响工作效率。</p>
            
            <h4 class="ui header center">故面临如下需求与挑战：</h4>
            <p>1.更换数据库主机及存储提升硬件系统，提高数据库性能。</p>
            <p>2.希望转x86但同时担心转换时的停机时间、数据的完全性和一致性。</p>
            <p>3.希望缩小数据库的容量，简化物理模型，提升运维便利性。</p>
            
        </div>
    </div>

<br><br>
